@media only screen and (min-width: 900px) {
		#kontener {
			width: 850px;
			margin: 0 auto 0 auto;
			}
		main {
			float: left;
			width: 70%;
			}
		aside {
			float: right;
			width: 28%;
			list-style-type: none;
			}
		footer {
			clear: both;
			}
			
		.logowanie {
			list-style-type: none;
			margin: 0; 
			padding: 0;
			}
		}